$white: #ffffff;
$rhino-2: #2c405a;
$waikawa-gray: #556c8d;
$regent-st-blue: #a9c7df;
$periwinkle-gray: #c5d9e8;
$oxford-blue: #313d4f;
$woodsmoke: #18191a;
$solitude: #eaf6ff;
$selago: #ecf5fd;
$mirage-2: #1b2431;
